.navbar-brand img {
	display: inline-block;
	max-height: 20px;
	margin-top: -8px;
	margin-right: 10px;
}
form a {
	margin-left: 5px;
}
button {
	cursor: pointer;
}
.fade-enter {
	opacity: 0;
}
.fade-enter-active {
	opacity: 1;
	transition: 0.5s ease-in all;
}
.fade-leave {
	opacity: 1;
}
.fade-leave-active {
	opacity: 0;
	transition:  0.5s ease-out all;
}